services:
  db:
    image: postgres:15
    container_name: todo_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: todo_app
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    working_dir: /app
    volumes:
      - .:/app
    environment:
      PYTHONPATH: /app